@import url('https://fonts.cdnfonts.com/css/hittedal-sans');
@import url('https://fonts.cdnfonts.com/css/rather');
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/monzane');
@import url('https://fonts.cdnfonts.com/css/scarleft');
@import url('https://fonts.cdnfonts.com/css/relathive');

body {
  background-color: #ffffff;
}

#main {
  display: grid;
  grid-template-areas: 's1 s1 s1 s1'
    's2 s2 s2 s2'
    's3 s3 s3 s3';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh 100vh 100vh;
}

#s1 {
  grid-area: s1;
  overflow: hidden;
}

#s1-container {
  display: grid;
  grid-template-areas: 'nav nav nav nav'
    'title title title title'
    'tabs tabs tabs tabs'
    'img img img img';
  grid-template-rows: auto auto 8vh 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#nav {
  grid-area: nav;
  padding: 20px 0px;
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  font-family: 'Hittedal Sans', sans-serif;
}

.nav-link {
  margin: 0px 40px;
  font-family: 'Lato', sans-serif;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#title {
  grid-area: title;
  display: grid;
  place-items: center;
  margin-top: 40px;
  font-family: 'Hittedal Sans', sans-serif !important;
}

#title-h1 {
  font-size: 6.5vw;
}

#tabs {
  grid-area: tabs;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Relathive', sans-serif;
  font-weight: 400;
}

#t1,
#t2,
#t3,
#t4 {
  flex: 1;
  font-size: 1rem;
}

#btn {
  width: 100%;
  height: 100%;
}

#images {
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'img1 img1 img1 img2';
  gap: 1rem;
}

#img1 {
  grid-area: img1;
  background-image: url('https://images.unsplash.com/34/a1mV1egnQwOqxZZZvhVo_street.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  background-position: center;
}

#img2 {
  grid-area: img2;
  background-image: url('https://images.unsplash.com/photo-1556565668-3a580a1e098e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center;
}

/*Section 2 */


#s2 {
  grid-area: s2;

}

#s2-container {
  display: grid;
  grid-template-areas: 'text text text text'
    'content content content content';
  grid-template-rows: 40vh 60vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
}

#text {
  grid-area: text;
  display: grid;
  place-items: center;
}

#content {
  grid-area: content;
  display: grid;
  grid-template-areas: 'content-img content-img content-text content-text';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  gap: 1rem;
  padding: 50px;
}

#content-image {
  grid-area: content-img;
  background-image: url('https://images.unsplash.com/photo-1598625523306-c36198e570a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80');
  background-size: cover;
  background-position: center;
  margin: 10px;
}

#content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: content-text;
  text-align: left;
  margin: 10px;
}


/*Section 3 */
#s3 {
  grid-area: s3;
}

#s3-container {
  display: grid;
  grid-template-areas: 's3t s3t s3t s3t'
  's3images s3images s3images s3images';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 90vh;
}

#s3-title-div {
  grid-area: s3t;
  text-align: left;
}

#s3-title {
    font-family: 'Hittedal Sans', sans-serif;
  padding: 50px 30px;
}

#s3-images {
  grid-area: s3images;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 's3img1 s3img2 s3img3';
  grid-template-rows: 100%;
  gap: 1rem;
  padding: 50px 30px;
}

#s3-img1 {
background-image: url('https://images.unsplash.com/photo-1618496147834-e92d66005cca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
background-size: cover;
background-position: center;
}
#s3-img2 {
  background-image: url('https://images.unsplash.com/photo-1589145919501-c5163a3652b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60');
background-size: cover;
background-position: center;
}
#s3-img3 {
  background-image: url('https://images.unsplash.com/photo-1598625536102-9bbc45926e46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
background-size: cover;
background-position: center;
}
/* Target small devices like phones */
@media (max-width: 767px) {
  #s2-container {
    display: grid;
    grid-template-areas: 'text text text text'
      'content content content content';
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #content {
    grid-area: content;
    display: grid;
    grid-template-areas: 'content-img content-img content-img content-img'
      'content-text content-text content-text content-text';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh auto;
    gap: 1rem;
    padding: 10px;
  }

  #text {
    grid-area: text;
    display: grid;
    place-items: center;
    padding: 10px 30px;
  }

  #p-text {
    font-size: 1.1rem;
    padding: 10px;
  }
}



/* Target medium devices like tablets */
@media (min-width: 768px) and (max-width: 1023px) {

  #s2-container {
    display: grid;
    grid-template-areas: 'text text text text'
      'content content content content';
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #content {
    grid-area: content;
    display: grid;
    grid-template-areas: 'content-img content-img content-img content-img'
      'content-text content-text content-text content-text';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh auto;
    gap: 1rem;
    padding: 10px;
  }

  #p-text {
    padding: 10px;
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) {
  #p-text {
    font-size: 1.8em;
  }
}