@import url('https://fonts.cdnfonts.com/css/hittedal-sans');
@import url('https://fonts.cdnfonts.com/css/rather');
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/monzane');
@import url('https://fonts.cdnfonts.com/css/scarleft');
@import url('https://fonts.cdnfonts.com/css/relathive');

body {
  background-color: #ffffff;
}

#main {
  display: grid;
  grid-template-areas: 's1 s1 s1 s1'
    's2 s2 s2 s2'
    's3 s3 s3 s3'
    's4 s4 s4 s4';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

#s1 {
  grid-area: s1;
  /* overflow: hidden; */
}

#s1-container {
  display: grid;
  grid-template-areas: 'nav nav nav nav'
    'title title title title'
    'tabs tabs tabs tabs'
    'img img img img';
  grid-template-rows: auto auto 8vh 60vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#nav {
  grid-area: nav;
  padding: 20px 0px;
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  font-family: 'Hittedal Sans', sans-serif;
}

.nav-link {
  margin: 0px 40px;
  font-family: 'Lato', sans-serif;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#title {
  grid-area: title;
  display: grid;
  place-items: center;
  margin-top: 40px;
  font-family: 'Hittedal Sans', sans-serif !important;
}

#title-h1 {
  font-size: 6.5vw;
}

#tabs {
  grid-area: tabs;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Relathive', sans-serif;
  font-weight: 400;
}

#t1,
#t2,
#t3,
#t4 {
  flex: 1;
  font-size: 1rem;
}

#btn {
  width: 100%;
  height: 100%;
}

#images {
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'img1 img1 img1 img2';
  gap: 1rem;
}

#img1 {
  grid-area: img1;
  background-image: url('https://images.unsplash.com/photo-1557438637-078c183fe438?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-position: center;
}

#img2 {
  grid-area: img2;
  background-image: url('https://images.unsplash.com/photo-1568542369060-0160b7fb16f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
  background-size: cover;
  background-position: center;
}

/*Section 2 */


#s2 {
  grid-area: s2;
}

#s2-container {
  display: grid;
  grid-template-areas: 'text text text text';
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#s2-text {
  grid-area: text;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'p-text p-text p-text p-text'
    'c-img c-img c-text c-text'
  ;
  grid-template-rows: 1fr 2fr;
  padding: 20px 50px;

}

#p-text {
  grid-area: p-text;

}

#p-quote {
  font-size: 1.7rem;
  line-height: 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-author {
  font-size: 1rem;
  line-height: 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#content-h6 {
  font-size: 1.2rem;
}

#content-h4 {
  font-size: 1.5rem;
}

#content-p {
  font-size: 1.15rem;
}

#content-image {
  grid-area: c-img;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buildimg-img {
  height: 100%;
  width: 100%;
}

#content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: c-text;
  text-align: left;
  padding: 5px 30px;
}


/*Section 3 */
#s3 {
  grid-area: s3;
}

#s3-container {
  display: grid;
  grid-template-areas:
    's3images s3images s3images s3images';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}


#s3-title {
  font-family: 'Hittedal Sans', sans-serif;
  height: 100%;
  /* display: grid;
  place-content: center; */
  display: flex;
  justify-content: left;
  align-items: center;
  
}



#s3-images {
  grid-area: s3images;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    's3title s3title'
    's3img1 s3img2'
    'sub1 sub2'
    'cap1 cap2';
  grid-template-rows: .5fr 52vh auto auto;
  gap: 1rem;
  padding: 15px 50px;
}

#subtitle-1 {
  grid-area: sub1;
  font-size: 1.3rem;
  text-align: left;
}

#subtitle-2 {
  grid-area: sub2;
  font-size: 1.3rem;
  text-align: left;
}

#caption-1 {
  grid-area: cap1;
  text-align: left;
}

#caption-2 {
  grid-area: cap2;
  text-align: left;
}

#s3title {
  grid-area: s3title;
}

#s3-img1 {
  grid-area: s3img1;
  background-image: url('https://images.unsplash.com/photo-1534649643822-e7431de08af6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2839&q=80');
  background-size: cover;
  background-position: center;
}

#s3-img2 {
  grid-area: s3img2;
  background-image: url('https://images.unsplash.com/photo-1423483641154-5411ec9c0ddf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-position: center;
}

#s3-img3 {
  grid-area: s3img3;
  background-image: url('https://images.unsplash.com/photo-1573349852776-ffb7e7a10770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80');
  background-size: cover;
  background-position: center;
}

#s3-img4 {
  grid-area: s3img4;
  background-image: url('https://images.unsplash.com/photo-1562497261-397e5f16eeb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
  background-position: center;
}

#s3-img5 {
  grid-area: s3img5;
  background-image: url('https://images.unsplash.com/photo-1573071314615-48eb1c83a665?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2835&q=80');
  background-size: cover;
  background-position: center;
}

#s3-img6 {
  grid-area: s3img6;
  background-image: url('https://images.unsplash.com/photo-1653228240294-a5f69a571f68?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2874&q=80');
  background-size: cover;
  background-position: center;
}

#s3-img7 {
  grid-area: s3img7;
  background-image: url('https://images.unsplash.com/photo-1577647719777-d72696a5c4a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2788&q=80');
  background-size: cover;
  background-position: center;
}



#city {
  font-family: 'Hittedal Sans', sans-serif;
  text-align: left;
  color: #fefefe;

}


/*Section 4 */
#s4 {
  grid-area: s4;
  overflow: hidden;
  background-color: #0a0a0a;
}

#s4-container {
  display: grid;
  grid-template-areas: 'cities cities cities cities';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  padding: 50px;
}


#cities {
  grid-area: cities;
  display: grid;
  grid-template-areas:
    't t t t'
    'r r r r'
    'v v v v'
    'fl fl fl fl'
    'm m m m';
  grid-template-rows: auto;
  /* gap: 1rem; */
  width: 90%;
}

#city-title {
  grid-area: t;
  text-align: left;
  color: #fefefe;
  padding: 20px;

}

#country {
  font-size: 2.5rem;
}

#rome {
  grid-area: r;

}

#venice {
  grid-area: v;
}

#milan {
  grid-area: m;
}

#florence {
  grid-area: fl;
}

#rome,
#venice,
#florence {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'city statement';
  place-items: left;
  border-bottom: solid .5px #272727;
  padding: 30px;
  color: #ffffff;
}


#milan {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'city statement';
  place-items: left;
  padding: 30px;
  color: #ffffff;
}

#place {
  grid-area: city;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  padding: 20px;

}

#statement {
  grid-area: statement;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}













/* Target small devices like phones */
@media (max-width: 767px) {

  #s2-container {
    display: grid;
    grid-template-areas: 'text text text text';
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #s2-text {
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'p-text p-text p-text p-text'
      'c-img c-img c-img c-img'
      'c-text c-text c-text c-text';
    grid-template-rows: .5fr .8fr 1fr;
    gap: 1rem;
  }



  #text {
    grid-area: text;
    display: grid;
    place-items: center;
    padding: 10px;
  }


  #p-quote {
    font-size: 1.25rem;
    line-height: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #p-author {
    font-size: .75rem;
    line-height: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  #content-p {
    font-size: 1rem;
  }

  #content-h6 {
    font-size: 1rem;
  }

  #content-h4 {
    font-size: 1.1rem;
  }


  #s3-images {
    grid-area: s3images;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      's3title s3title'
      's3img1 s3img1'
      'sub1 sub1'
      'cap1 cap1'
      's3img2 s3img2'
      'sub2 sub2'
      'cap2 cap2';
    grid-template-rows: .5fr 30vh auto auto 30vh auto auto;
    gap: 1rem;
  padding: 15px 50px;
  }

}



/* Target medium devices like tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  #s2-container {
    display: grid;
    grid-template-areas: 'text text text text';
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #s2-text {
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'p-text p-text p-text p-text'
      'c-img c-img c-img c-img'
      'c-text c-text c-text c-text';
    grid-template-rows: .5fr .8fr 1fr;
    gap: 1rem;
  }

  #p-quote {
    font-size: 1.4rem;
    line-height: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #p-author {
    font-size: .9rem;
    line-height: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #content-p {
    font-size: 1.1rem;
  }

  #content-h6 {
    font-size: 1.3rem;
  }

  #content-h4 {
    font-size: 1.45rem;
  }

  #s3-images {
    grid-area: s3images;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      's3title s3title'
      's3img1 s3img1'
      'sub1 sub1'
      'cap1 cap1'
      's3img2 s3img2'
      'sub2 sub2'
      'cap2 cap2';
    grid-template-rows: .5fr 30vh auto auto 30vh auto auto;
    gap: 1rem;
  padding: 15px 50px;
  }
}
